body {
  margin: 0;
  padding: 0;
  background: #2196f3; /* sima kék */
  font-family: Arial;
  color: white;
}

#chat {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

#inputArea {
  display: flex;
  padding: 10px;
  background: rgba(0,0,0,0.2);
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
}

button {
  margin-left: 5px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #0d47a1;
  color: white;
  cursor: pointer;
}
